#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 20px 50px 0 0;
    font-family: 'Poppins', sans-serif;
}
li{
    margin-left: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

section{
    display: flex;

}


html { 
    color-scheme: dark;
  }
  h1 {
    text-align: center;
    font-size: 10vmin;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-left: 50px;
  }
  .overlap{
    --overlap: .15ch;
    --shadow-offset: .1ch;
    --shadow-blur: .2ch;
    --shadow-color: black;
    letter-spacing: calc(var(--overlap) * -1.2); 
    isolation: isolate;
  }
  .overlap-front { --mult: 1; }
  .overlap-back { --mult: -1; }
  
  .overlap>span { 
    position: relative;
    z-index: calc(var(--index, 1) * var(--mult, 1));
  }
  .overlap-front>span:not(:first-of-type),
  .overlap-back>span:not(:last-of-type){
    text-shadow: 
      calc(var(--mult, 1) * var(--shadow-offset,0) * -1) 0 
      var(--shadow-blur, 0) 
      var(--shadow-color, black);
  }