* {
  margin: 0;
  padding: 0;

}

body {
  box-sizing: border-box;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-around;
  display: flex;
}

section {
  display: flex;
  margin-left: 100px;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 400px;
  transform: translate(-150px);
  
  
}

p {
  color: white;
  font-size: 20px;
  text-align: justify;
}
a{
  text-decoration: none;
  color: white;
}

.photo {
  background-image: url(Lovepik_com-610723777-Blue\ technology\ digital\ effect\ decoration.png);
  background-size: cover;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 300px;
}

.containerProjet {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: top;
  gap: 20px;


}

.Projet {
  background-color: #17D4EF;
  border-radius: 20px;
  min-width: 200px;
  max-width: 30%;
  height: 200px;
  border: black;
  border: solid;
  transition: height 1s ease;
  /* Ajoute une transition fluide */

  /* Styles au survol */
  &:hover {
    height: 400px;
  }
}



/* CUBE */



.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.outer-cube{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
    transform-style: preserve-3d;
  perspective: 2000px;
  perspective-origin: 50% 50%;
  
}

.cube {
  width: 800px;
  height: 800px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 1s;
  
  
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  


}

.front {
  transform: translateZ(400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 25%) ;
}

.back {
  transform: translateZ(-400px) rotateX(-180deg);

  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 25%) ;
}

.left {
  transform: translateX(400px) rotateY(90deg);
  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 25%) ;
}

.right {
  transform: translateX(-400px) rotateY(-90deg);
  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 25%) ;
}

.top {
  transform: translateY(-400px) rotateX(90deg);
  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 25%) ;
}

.bottom {
  transform: translateY(400px) rotateX(-90deg);
  background-image: url(vecteezy_modern-trendy-abstract-geometric-social-media-frame-border_15314469_230.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 25%) ;
}

/* Cube inner */

.inner-cube {
  width: 150px;
  height: 150px;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 10s linear infinite;
  
}



.innerfront {
  transform: translateZ(75px);
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.innerback {
  transform: rotateY(180deg) translateZ(75px) ;
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.innerleft {
  transform: translateX(-75px) rotateY(-90deg) ;
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.innerright {
  transform: translateX(75px) rotateY(90deg);
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.innertop {
  transform: translateY(-75px) rotateX(90deg) ;
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}

.innerbottom {
  transform: translateY(75px) rotateX(-90deg) ;
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

@keyframes rotation {
  from{
   transform: rotateX(0deg) rotateY(0deg);
  }
  to{
   transform: rotateX(360deg) rotateY(360deg);
  }
 }





 .buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.buttons button {
  margin: 20px 5px;
  background-color: #17D4EF;
  border: none;
  cursor: pointer;
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  
  background: #0FF0FC;
  color: #0FF0FC;
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 100%;
  top: -18px;
  border: 2px solid #0FF0FC;
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 0%;
  bottom: -18px;
  border: 2px solid #0FF0FC;
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px #0FF0FC;
  }
  100% {
    box-shadow: #27272c;
  }
}

.containercomp{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 320px;
  padding-left: 150px;
  color: white;
}
.containercont{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 320px;
  padding-left: 150px;
  color: white;
  font-size: 26px;
  gap: 20px;
}
.lien{
  margin-left: 200px;
  
}




@media (max-width: 650px)  {
  body{
    flex-direction: column;
  }
}