* {
  margin: 0;
  padding: 0;
  
}

body {
  box-sizing: border-box;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;

}

section {
  display: flex;
  margin-left: 100px;
}

.presentation {
  display: flex;
  flex-direction: row;
  width: 50%;

}

p {
  font-size: 20px;
  text-align: justify;
}

.photo {
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
  background-color: aqua;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.containerProjet {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  gap: 25px;
}

.Projet {
  background-color: white;
  border-radius: 20px;
  min-width: 250px;
  max-width: 30%;
  height: 300px;
  border: black;
  border: solid;
  transition: height 1s ease; /* Ajoute une transition fluide */

  /* Styles au survol */
  &:hover {
    height: 500px;
  }
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cube {
  width: 900px;
  height: 900px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 1s;
}

.face {
  position: absolute;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  
  
}

.front {
  transform: translateZ(450px);
  border-style: solid;
  border-color: #34495e;
}

.back {
  transform: translateZ(-450px) rotateX(-180deg);
  border-style: solid;
  border-color: #34495e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  transform: translateX(450px) rotateY(90deg)   ;
  border-style: solid;
  border-color: #34495e;
}

.right {
  transform: translateX(-450px) rotateY(-90deg) ;
  border-style: solid;
  border-color: #34495e;
}

.top {
  transform: translateY(-450px) rotateX(90deg) ;
  border-style: solid;
  border-color: #34495e;
}

.bottom {
  transform: translateY(450px) rotateX(-90deg) ;
  border-style: solid;
  border-color: #34495e;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.buttons button {
  margin: 20px 5px;

}